

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 220vh;
  margin: 0;
  background: linear-gradient(100deg, #eaeff0, #b65ce2);
  font-family: 'Arial', sans-serif;
  color: white;
}
